:root {
    --swiper-theme-color: #007aff !important;
}
.btn {
    color:#fff !important;
    background-color:#01918c !important;
    border-color:#01918c !important;

   
}
.nav {
    color: #01918c !important;
}
.services {
    background-color: #01918c !important;
}
.nav-link:hover {    
    color: #000 !important;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
      color: #01918c !important;
}

element.style {
}
.btn:not([class^=btn-outline-]):not([class*=" btn-outline-"]):not(.btn-secondary):not(.btn-light):not(.btn-link) {
    --si-btn-color: #fff;
}
.btn {
    color: #fff !important;
    background-color: #01918c !important;
    border-color: #01918c !important;
}
.btn-primary {
    --si-btn-hover-color: #fff;
    --si-btn-active-color: #fff;
    --si-btn-hover-bg: #4044ee;
    --si-btn-active-bg: #4044ee;
    --si-btn-hover-border-color: #4044ee;
    --si-btn-active-border-color: #4044ee;
    --si-btn-disabled-color: #fff;
}
.btn {
    align-items: center;
    display: inline-flex
;
    justify-content: center;
}
.shadow-primary {
    box-shadow: 0 0 10px rgba(1, 145, 140, 0.7) !important;
}