:root {
    --swiper-theme-color: #007aff !important;
}
.btn-primary {
    --si-btn-hover-color: #fff;
    --si-btn-active-color: #fff;
    --si-btn-hover-bg: #0DBBB6 !important;
    --si-btn-active-bg: #0DBBB6 !important;
    --si-btn-hover-border-color: #0DBBB6 !important;
    --si-btn-active-border-color: #0DBBB6 !important;
    --si-btn-disabled-color: #fff;
}